<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>無題ドキュメント</title>
	<link rel="stylesheet" href="../scss/style.css" />
</head>

<header class="site-header">
  <div class="site-header__top">
    <div class="container">
      <ul class="top-nav">
        <li><a href="#">アサヒグループホールディングス</a></li>
        <li><a href="#">Global</a></li>
        <li><a href="#">お客様相談室</a></li>
      </ul>
      <div class="site-search">
        <input type="text" placeholder="サイト内検索">
        <button type="submit">🔍</button>
      </div>
    </div>
  </div>

  <div class="site-header__bottom">
    <div class="container">
      <a href="#" class="site-logo">
        <img src="../images/logo_header.png" alt="Asahi Logo">
      </a>
      <nav class="global-nav">
        <ul>
          <li><a href="#">商品情報</a></li>
          <li><a href="#">キャンペーン</a></li>
          <li><a href="#">エンタメ・レシピ</a></li>
          <li><a href="#">サステナビリティ</a></li>
          <li><a href="#">企業情報</a></li>
			<li><a href="#"><img src="../images/asahipark.png"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>



</html>
